/* added display, flex-direction and min-height */
body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/* is there a margin: auto; ?? */
header {
    margin-bottom: 30px;
    padding: 0px;
    height: 100px;
    background-color: #ffffff;
    border-bottom-style: solid;
    border-color: #cccccc;
}

.container {
    width: 960px;
    height: 100px;
    margin: auto;
}
/* added the white, maybe not necessary? or auto? */
.containerleft {
    width: 200px;
    height: 100px;
    padding: 0px;
    background-color: #4aaaa5;
    float: left;
}

.containerright {
    width: 250px;
    height: 50px;
    padding: 20px 0px 20px 0px;
    background-color: #ffffff;
    float: right;
}

/* floated left */
#nametag {
    width: 200px;
    padding-top: 10px;
    background-color: #4aaaa5;
    color: white;
    text-align: center;

}

.links {
    background-color: white;
    color: grey;
    margin-top: 0px;
}

ul {
    padding: 8px;
    float: right;
}
li {
    display: inline;
}

#about {
    padding: 0px 10px;
    border-right-style: solid;
}

#portfolio {
    padding: 0px 10px;
    border-right-style: solid;
}

#content {
    padding: 0px 0px 0px 10px;
}

/* added flex ?*/
.main-bio {
    clear: both;
    margin: auto;
    flex: 1;
}

#bio-image {
    padding: 0px 20px;
    float: left;
}

.aboutcenter {
    margin: auto;
    width: 960px;
    height: 620px;
    background-color: #ffffff;
    border-color: #dddddd;
    border-style: solid;

} 

.contactcenter {
    margin: auto;
    width: 960px;
    height: 450px;
    background-color: #ffffff;
    border-color: #dddddd;
    border-style: solid;
}

.portfoliocenter {
        margin: auto;
        width: 960px;
        height: 480px;
        background-color: #ffffff;
        border-color: #dddddd;
        border-style: solid;
}

h2 {
    color: #4aaaa5;
    padding: 20px 0px;
    margin: 20px 20px;
    border-bottom-style: solid;
    border-color: #cccccc;   
}

p {
    margin: 20px 10px;
}

#sitefooter {
    border-top: 8px solid #4aaaa5;
    margin-top: 100px;
    background: #666666;
}

h6 {
    text-align: center
}

.maincontact {
    margin: 20px 20px;
}

input {
    margin-bottom: 20px;
}

.box-set {
    position: relative;
    height: 350px;
    background: salmon;
  }

  .box {
    /* Absolute Position */
    position: absolute;
    width: 250px;
    height: 150px;
    text-align: center; 
    background: #1c8796;
    border: 2px solid rgb(121, 9, 121);
    
  }

  .box-1 {
    top: 0%;
    left: -2%;
  }
  
  .box-2 {
    top: 0;
    left: 32%;
  }
  
  .box-3 {
    right: -2%;
    top: 0;
  }
  
  .box-4 {
    bottom: 0;
    left: -2%;
  }

  .box-5 {
      bottom: 0%;
      left: 32%;
  }